<?xml version="1.0" encoding="UTF-8" ?>
<phpdocumentor
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://docs.phpdocumentor.org/latest/phpdoc.xsd"
>
    <paths>
        <output>docs</output>
        <source>
            <dsn>.</dsn>
            <path>src</path>
        </source>
    </paths>
    <version>3</version>
    <title>API Client for alerts.in.ua in PHP</title>
    <name>fyennyi/alerts-in-ua-php</name> </phpdocumentor>
