parameters:
    level: 9
    paths:
        - src
    excludePaths:
        - tests
    reportUnmatchedIgnoredErrors: false

    # Additional rules for better analysis
    checkTooWideReturnTypesInProtectedAndPublicMethods: true
    checkUninitializedProperties: true
    checkDynamicProperties: true

    inferPrivatePropertyTypeFromConstructor: true
    treatPhpDocTypesAsCertain: true
